name: CI

on:
  push:
    branches:
      - main
      - "release/**"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      # ---------------- SERVER ----------------
      - name: Install server dependencies
        working-directory: linguasync-server
        run: npm ci

      - name: Build server
        working-directory: linguasync-server
        run: npm run build

      # ---------------- CLIENT ----------------
      - name: Install client dependencies
        working-directory: linguasync-client
        run: npm ci

      - name: Build client
        working-directory: linguasync-client
        run: npm run build


  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy (placeholder)
        run: echo "Deploy process goes here"
